<%- include('../partials/head.ejs') %>
<%- include('../partials/main.ejs') %>

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <h5 class="card-title"> <%= task.title %> <a href="#"><i class="fas fa-edit"></i></a></h5>
        </div>
        <div class="card-body">

            <p class="card-text"> <%= task.description %> </p>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"> N° </th>
                            <th scope="col"> Step </th>
                            <th scope="col"> Operación </th>
                        </tr>
                    </thead>
                    <tbody>


                        <% if ( task.steps.length > 0) {  %>
                        <% let count = 1 %>
                        <% task.steps.forEach(function (step) {      %>
                        <tr>
                            <th scope="row"> <%= count %> </th>
                            <td> <%= step %> </td>
                            <td>
                                <a href="" class="btn btn-dark"> Done </a>
                                <a href="" class="btn btn-primary"> Edit </a>
                                <a href="" class="btn btn-danger"> Delete </a>
                            </td>
                        </tr>

                        <% count++ %>
                        <% }) %>


                        <% } %>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


<%- include('../partials/footer.ejs') %>